/* 23-12-23 Updated */
.strong-txt { font-weight: bold; }
.member-link-page,.member__desc-txt,.city-availibity p,p.main-short-info,
.short__desc { display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
p.main-short-info,.member__desc-txt { -webkit-line-clamp: 2; }
.member--style2 .member__content { padding: 10px 15px 15px; transition: 1s; background: #ffffff; position: absolute; bottom: 0; height: 132px; left: 0; z-index: 1;
							transform: translateY(50px);}
.short__desc { font-style:italic; font-size: 12px; line-height: 16px; }
.city-availibity p { font-size: 12px; line-height: 10px; }
.city-availibity p:last-child { margin-left: 10px; min-width:70px; }
.city-availibity i { margin-right: 5px; font-size: 10px; }
.member--style2 .member__thumb { transition: 0.5s; width: 100%; height: 100%; border-radius: unset; margin-bottom: 0px; overflow: hidden;}
.member--style2 .member__inner { overflow: hidden; padding: 0px; position: relative; height: 400px; }
.member__desc-txt { font-size: 12px; line-height: 16px; margin-top: 0.5rem; }
.member__content { overflow: hidden; position: relative; }
.member--style2 figure { margin: 0; }
.member--style2 .member__thumb img { border-radius: unset; min-height: 366px; object-fit: cover; }
.not-avail.availibity-members { background: #c3c3c3 }
.availibity-members { width: 10px; height: 10px; display: inline-block; border-radius: 100px; background: #8cd867; margin-right: 5px; }
.member-bio { position: relative; }

.member--style2 .member__inner:hover .member__thumb { transform: scale(1.1); }
.member--style2 .member__inner:hover .member__content { transform: translateY(0px); padding: 15px; }

/*==============================================================*/
.cmn-txt-area { max-width: 768px; margin: 0 auto; background:#ffffff; padding: 0 15px; }
.title-main-txt h2.title-txt { position:relative; padding-bottom: 10px; display: inline-block; }
.title-main-txt h2.title-txt::after { content: ''; display: block; bottom: 5px; height:3px; background: #f24570; position: absolute; width: 100%; left: 50%;
									transform: translateX(-50%);}
.title-main-txt h4 					{ color: #f24570; }
.cmn-txt-block p 					{ margin-top: 20px; }
.cmn-txt-block ul,.cmn-txt-block ol { padding-left: 20px; margin-left: 15px; }
.cmn-txt-block li 					{ margin-bottom: 5px; list-style:disc; }
.cmn-txt-block a 					{ text-decoration: underline; color: #f24570; transition: 0.5s;}
.cmn-txt-block a:hover,.cmn-txt-block a:focus { text-decoration: none;}
.group__bottom--allmedia .cmn-txt-block ul li { padding: 0px; }
.profile-slide img 					{ width: calc(100% - 30px); height: 475px; object-fit: cover; margin: 0 15px; }
.basic-info-profile 				{ margin-bottom: 20px; }
.basic-info-profile button 			{ margin: 0 15px; background: #505050; padding: 5px 10px; border-radius: 10px; color: #ffffff; }
.slick-prev 						{ left: 10px; }
.slick-next 						{ right: 10px; }
.slick-prev, .slick-next 			{ width: unset; height: unset; z-index: 1; display: block; border-radius: 50%; }
.slick-prev:before, .slick-next:before { color: #ffffff; border-radius: 50%; font-size: 30px; line-height: 30px; opacity: 0.8; position: relative; top: 0; }
.slick-prev:hover,.slick-prev:focus,
.slick-next:focus, .slick-next:hover { background: transparent; opacity: 1; }
.info-profile-content p 			{ margin-top: 15px; }
.rate-txt  							{ width: 100%; }
.site .info-list.rate-listing li 	{ border-bottom: 0; padding: 0px; }
.rate-listing li 					{ display: flex; }
.rate-listing li:not(:last-child)	{ margin-bottom: 15px; }
.rate-txt > p						{ font-weight: bold; }
.rate-txt > p span					{ font-weight: normal; }
.cmn-txt-rate 						{ margin-top: 5px; font-style: italic; font-size: 12px; line-height: 20px; }
.policies-content p:not(:last-child) { margin-bottom: 15px; }
.rate-listing a 					{ word-break: break-word; }
.rate-txt > p:first-child  			{ min-width: 115px; }
.rate-txt > p:last-child  			{ text-align: right; }
.pageheader__content 				{ display: flex; align-items:center; justify-content: center; }
.member-single-inner.pageheader.bg_img { width: 100%; padding: 0; }
.member-single-inner .pageheader__content figure { margin: 0px; }
.member-single-inner .pageheader__content img { height: 330px; width: 330px; object-fit: cover; }
.jcf-range .jcf-range-handle 		{ border: 1px solid #213366; margin: -5px 0 0 -1px; }
.jcf-range.jcf-focus .jcf-range-handle { border: 1px solid #213366 !important; }
.jcf-range 							{ width: 100%; padding: 0; margin: 0; }
.range-list 						{ display: flex; justify-content: space-between; margin-top: 0px; padding: 0; }
.jcf-range .jcf-range-handle 		{ background-color: #213366; cursor: pointer; }
.jcf-range .jcf-range-display 		{ background-color: #213366; opacity: 0.3; }

.cmn-range .jcf-range .jcf-range-handle 	{ background-color: #f24570; }
.cmn-range .jcf-range .jcf-range-display	{ background-color: #f24570; opacity: 0.3; }
.cmn-range .jcf-range .jcf-range-handle 		{ border: 1px solid #f24570; }
.cmn-range .jcf-range.jcf-focus .jcf-range-handle { border: 1px solid #f24570 !important;  }

/*===========================================================================================*/
.avilable-search-area 		{ padding: 100px 0; background:#1b1f29; }
.model-intro 				{ display: flex; width: 100%;}
.model-intro .model-img  	{ width: 170px; height: 245px; }
.model-intro .model-img img	{ width: 100%; height: 100%; object-fit: cover; }
.model-info 				{ background: #ffffff; position:relative; padding: 10px; border-radius: 0px 5px 5px 0px; width: calc(100% - 170px);}
.model-info h5 				{ font-size: 16px; line-height: 20px; }
.model-info p,
.model-info .short-desc 	{ font-size: 12px; line-height: 16px; }
.model-info .short-desc 	{ font-style: italic; margin-bottom: 5px; }
.model-info .city-availibity p { margin: 0px; }
.main-short-info 			{ position: absolute; bottom: 0; left: 0; padding: 10px 10px 0; width: 100%; }
.model-intro .model-img img { border-radius: 5px 0px 0px 5px; }
/* -------- Tablet Device Start ------- */
@media (min-width: 768px) and (max-width: 991px) {

 .policies-content p,
 .rate-txt p { font-size: 80%; }


}
/* -------- Mobile Device Start ------- */
@media (max-width: 767px) {

}
/* -------- Mobile Device Start ------- */
@media (max-width: 767px) {

	.basic-info-profile button  	{ font-size: 14px; line-height: 16px; margin: 0 10px; }
	.basic-info-profile button i 	{ display: block; margin-bottom: 5px; }

}
