/* 23-12-23 Updated */
.strong-txt { font-weight: bold; }
.member-link-page,.member__desc-txt,.city-availibity p,p.main-short-info,
.short__desc { display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; }
p.main-short-info,.member__desc-txt { -webkit-line-clamp: 2; }
.member--style2 .member__content { padding: 10px 15px 15px; transition: 1s; background: #ffffff; position: absolute; bottom: 0; height: 132px; left: 0; z-index: 1;
							transform: translateY(50px);}
.short__desc { font-style:italic; font-size: 12px; line-height: 16px; }
.city-availibity p { font-size: 12px; line-height: 10px; }
.city-availibity p:last-child { margin-left: 10px; min-width:70px; }
.city-availibity i { margin-right: 5px; font-size: 10px; }
.member--style2 .member__thumb { transition: 0.5s; width: 100%; height: 100%; border-radius: unset; margin-bottom: 0px; overflow: hidden;}
.member--style2 .member__inner { overflow: hidden; padding: 0px; position: relative; height: 400px; }
.member__desc-txt { font-size: 12px; line-height: 16px; margin-top: 0.5rem; }
.member__content { overflow: hidden; position: relative; }
.member--style2 figure { margin: 0; }
.member--style2 .member__thumb img { border-radius: unset; min-height: 366px; object-fit: cover; }
.not-avail.availibity-members { background: #c3c3c3 }
.availibity-members { width: 10px; height: 10px; display: inline-block; border-radius: 100px; background: #8cd867; margin-right: 5px; }
.member-bio { position: relative; }

.member--style2 .member__inner:hover .member__thumb { transform: scale(1.1); }
.member--style2 .member__inner:hover .member__content { transform: translateY(0px); padding: 15px; }

/*==============================================================*/
.cmn-txt-area { max-width: 768px; margin: 0 auto; background:#ffffff; padding: 0 15px; }
.title-main-txt h2.title-txt { position:relative; padding-bottom: 10px; display: inline-block; }
.title-main-txt h2.title-txt::after { content: ''; display: block; bottom: 5px; height:3px; background: #f24570; position: absolute; width: 100%; left: 50%;
									transform: translateX(-50%);}
.title-main-txt h4 					{ color: #f24570; }
.cmn-txt-block p 					{ margin-top: 20px; }
.cmn-txt-block ul,.cmn-txt-block ol { padding-left: 20px; margin-left: 15px; }
.cmn-txt-block li 					{ margin-bottom: 5px; list-style:disc; }
.cmn-txt-block a 					{ text-decoration: underline; color: #f24570; transition: 0.5s;}
.cmn-txt-block a:hover,.cmn-txt-block a:focus { text-decoration: none;}
.group__bottom--allmedia .cmn-txt-block ul li { padding: 0px; }
.profile-slide img 					{ width: calc(100% - 30px); height: 475px; object-fit: cover; margin: 0 15px; }
.basic-info-profile 				{ margin-bottom: 20px; }
.basic-info-profile button 			{ margin: 0 15px; background: #505050; padding: 5px 10px; border-radius: 10px; color: #ffffff; }
.slick-prev 						{ left: 10px; }
.slick-next 						{ right: 10px; }
.slick-prev, .slick-next 			{ width: unset; height: unset; z-index: 1; display: block; border-radius: 50%; }
.slick-prev:before, .slick-next:before { color: #ffffff; border-radius: 50%; font-size: 30px; line-height: 30px; opacity: 0.8; position: relative; top: 0; }
.slick-prev:hover,.slick-prev:focus,
.slick-next:focus, .slick-next:hover { background: transparent; opacity: 1; }
.info-profile-content p 			{ margin-top: 15px; }
.rate-txt  							{ width: 100%; }
.site .info-list.rate-listing li 	{ border-bottom: 0; padding: 0px; }
.rate-listing li 					{ display: flex; }
.rate-listing li:not(:last-child)	{ margin-bottom: 15px; }
.rate-txt > p						{ font-weight: bold; }
.rate-txt > p span					{ font-weight: normal; }
.cmn-txt-rate 						{ margin-top: 5px; font-style: italic; font-size: 12px; line-height: 20px; }
.policies-content p:not(:last-child) { margin-bottom: 15px; }
.rate-listing a 					{ word-break: break-word; }
.rate-txt > p:first-child  			{ min-width: 115px; }
.rate-txt > p:last-child  			{ text-align: right; }
.pageheader 						{ position: relative; min-height: 475px; background: #000000; overflow: hidden; }
.pageheader__content 				{ display: flex; align-items:center; justify-content: center; position: relative; height: 100%; }
.member-single-inner.bg_img 		{ width: 100%; height: 100%; padding: 0; position: absolute; filter: blur(20px); }
.member-single-inner.bg_img:before { content: ''; display: block; left: 0; top: 0; width: 100%; height: 100%; position: absolute; background: rgba(0, 0, 0, 0.8); z-index: 0; }
.member-single-inner + .pageheader__content figure { margin: 0px; }
.member-single-inner + .pageheader__content img { height: 475px; width: 330px; object-fit: cover; position: relative; z-index: 1; }

/*===========================================================================================*/
.avilable-search-area 		{ padding: 100px 0; background:#1b1f29; }
.model-intro 				{ display: flex; width: 100%;}
.model-intro .model-img  	{ width: 170px; height: 245px; }
.model-intro .model-img img	{ width: 100%; height: 100%; object-fit: cover; }
.model-info 				{ background: #ffffff; position:relative; padding: 10px; border-radius: 0px 5px 5px 0px; width: calc(100% - 170px);}
.model-info h5 				{ font-size: 16px; line-height: 20px; }
.model-info p,
.model-info .short-desc 	{ font-size: 12px; line-height: 16px; }
.model-info .short-desc 	{ font-style: italic; margin-bottom: 5px; }
.model-info .city-availibity p { margin: 0px; }
.main-short-info 			{ position: absolute; bottom: 0; left: 0; padding: 10px 10px 0; width: 100%; }
.model-intro .model-img img { border-radius: 5px 0px 0px 5px; }

input[type=range] {-webkit-appearance: none; width: 100%; position: absolute; left: 0; border: 0; background: transparent; }
.range-slider,.rangeValues {display: block; }
.range-slider {text-align: center; position: relative;}
input[type=range]::-webkit-slider-runnable-track {width: 300px; height: 5px; background: #ddd; border: none; border-radius: 3px; }
input[type=range]::-webkit-slider-thumb {-webkit-appearance: none; border: none; height: 16px; width: 16px; border-radius: 50%; background: #213366; margin-top: -4px; cursor: pointer; position: relative; z-index: 1; }
input[type=range]:focus {outline: none; }
input[type=range]:focus::-webkit-slider-runnable-track {background: #ccc; }
input[type=range]::-moz-range-track {width: 300px; height: 5px; background: #ddd; border: none; border-radius: 3px; }
input[type=range]::-moz-range-thumb {border: none; height: 16px; width: 16px; border-radius: 50%; background: #213366; }
input[type=range]:-moz-focusring {outline: 1px solid white; outline-offset: -1px; }
input[type=range]::-ms-track {width: 300px; height: 5px;background: transparent; border-color: transparent; border-width: 6px 0;color: transparent; z-index: -4;}
input[type=range]::-ms-fill-lower {background: #777; border-radius: 10px; }
input[type=range]::-ms-fill-upper {background: #ddd; border-radius: 10px; }
input[type=range]::-ms-thumb {border: none; height: 16px; width: 16px; border-radius: 50%; background: #213366; }
input[type=range]:focus::-ms-fill-lower {background: #888; }
input[type=range]:focus::-ms-fill-upper {background: #ccc; }
/* 4-2-24 */
.banner { position: relative; overflow: hidden; min-height: calc(100vh - 139px);}
.video-container{ z-index: 0; position: absolute; top: 0; left: 0; height: 100%; width: 100%;}
.video-container::after { content: ''; position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 0; }
.video-container video{ height: 100%; width: 100%; object-fit: cover;}
.about { display: flex; align-items: center; justify-content: center; min-height: calc(100vh - 139px); margin: 0px; position: relative; }
.header.header-fixed + .banner,
.header.header-fixed + .banner + .about  { min-height: calc(100vh - 95px);}
.range-slider input[type="range"] { padding: 10px 0px; }


/* -------- Large Device Start ------- */
@media (min-width: 992px) and (max-width: 1199px) {
 .pageheader 									{ min-height: 330px; }
 .member-single-inner .pageheader__content img 	{ height: 330px; }
}
/* -------- Tablet Device Start ------- */
@media (min-width: 768px) and (max-width: 991px) {

 .policies-content p,
 .rate-txt p 									{ font-size: 80%; }
 .member-single-inner.bg_img:before 			{ background: rgba(0, 0, 0, 0.5); }
 .pageheader 									{ min-height: 330px; }
 .member-single-inner + .pageheader__content img 	{ height: 330px; }
 .about.about--style2 							{ margin: 50px 0; }
 .about__right .range-slider 					{ margin-bottom: 30px; }

}
/* -------- Mobile Device Start ------- */
@media (max-width: 767px) {

	.basic-info-profile button  	{ font-size: 14px; line-height: 16px; margin: 0 10px; }
	.basic-info-profile button i 	{ display: block; margin-bottom: 5px; }
	.member-single-inner.bg_img:before { background: rgba(0, 0, 0, 0.5); }
	.pageheader 					{ min-height: 275px; }
	.member-single-inner + .pageheader__content img { height: 275px; width: 275px; }
	.about.about--style2 							{ margin: 15px 0; }
	.about__right .range-slider 					{ margin-bottom: 30px; }
}
